<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAENI-YGwy9v1Z1edBnJ-spG8jznQYGoGo</string>
	<key>GCM_SENDER_ID</key>
	<string>420499107319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cineApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cinema-afccf</string>
	<key>STORAGE_BUCKET</key>
	<string>cinema-afccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420499107319:ios:d490351443b27870c952f2</string>
</dict>
</plist>